@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/0fb11be8781037453723dda767b71596?family=Geogrotesque");
@font-face {
  font-family: "brandon-grotesque";
  src: url("fonts/brandon-grotesque-light.otf");
}
@font-face {
  font-family: "brandon-grotesque-bold";
  src: url("fonts/brandon-grotesque-black.otf");
}
@font-face {
  font-family: "geogrotesque";
  src: url("fonts/GeogrotesqueCyr-Light.ttf");
}
$color: #1c3e70;
$scolor: #d1d2d4;
$sec: #515153;
$clean: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "brandon-grotesque", sans-serif;
  text-decoration: none;
  list-style: none;
  // outline: 2px solid red;
  outline: none;
}
html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
body {
  background: $clean;
  font-family: "brandon-grotesque";

}
@mixin slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 83vh;
  outline: none;
  background-blend-mode: overlay;
}
@mixin head {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: $sec;
  font-family: "brandon-grotesque";
  letter-spacing: 1px;
}
// navbar
nav {
  // position: absolute;
  // top: 2vh;
  // left: 2vh;
  // right: 2vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  align-items: center;
  height: 12vh;
  background: #f9f9f9;
  // margin: 1rem;
  z-index: 99;
  box-shadow: 0px 0px 10px 0px #9b9b9b;
  .nav__items {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    gap: 1rem;
    li {
      list-style: none;
      font-size: 1.1em;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in;
      }
      .nav__active {
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: black;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.3s ease-in;
      }
      &:hover::after {
        transform: scale(1);
        // width: 100%;

        transform-origin: left;
      }
      a {
        color: #131219;
        font-weight: 400;
      }
    }
  }
  .burgur {
    display: none;
  }
  .logo {
    
    .logoimg {
      width: 100px;
      margin: 1rem;
      display: grid;
      place-items: center;
    }
    h1 {
      font-size: 2em;
      letter-spacing: 1px;
      font-weight: 600;
      color: $color;
    }
  }
}

// hero
.hero {
  .fade {
    // position: absolute;
    // top: 15vh;
    // right: 2vh;
    // left: 2vh;
    // margin: 1rem;
    height: 83vh;
    z-index: 0;
    .slide__content {
      margin: 7rem 10%;
      .slide__header {
        color: $clean;
        font-size: 7vw;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "geogrotesque", sans-serif;
        line-height: 1.2;
      }
      .slide__para {
        color: $clean;
        font-size: 1.6vw;
        margin: 0 0 2rem;
      }
      .slide__link {
        padding: 10px 24px;
        color: $clean;
        background-color: $color;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-left: 5px solid $clean;
        transition: 0.3s ease-in;
        &:hover {
          color: $color;
          background-color: $clean;
        }
      }
    }
    .slide1 {
      background: #0000009c url("../images/1.jpg");
      @include slide();
    }
    .slide2 {
      background: #0000009c url("../images/2.jpg");
      @include slide();
    }
    .slide3 {
      background: #0000009c url("../images/3.jpg");
      @include slide();
    }
  }
  .hero__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
    z-index: 1;
    line-height: 1.3;
    .slider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      overflow: hidden;
      min-width: 50%;

      .header-wrap {
        display: flex;
        // margin: 1rem;
        transform: translateX(0);
        transition: 0.5s ease;
        margin-bottom: 1.5em;
        .header {
          min-width: 100%;
          font-size: clamp(2rem, 5vw, 5rem);
          // font-size: calc(1vw+ .5rem);
          color: $clean;
          filter: drop-shadow(0px 0px 3px black);
          font-family: "Josefin Sans", sans-serif;
          font-weight: 400;
        }
      }
    }
    .btn__section {
      z-index: 1;
      height: 2em;
      .head__link {
        padding: 10px 20px;
        background: $scolor;
        color: $color;
        transition: 0.2s;
        &:hover {
          background: $color;
          color: $scolor;
        }
      }
      .link__invert {
        padding: 10px 20px;
        background: $color;
        color: $scolor;
        transition: 0.2s;

        &:hover {
          background: $scolor;
          color: $color;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 15vh;
    right: 2vh;
    left: 2vh;
    height: 83vh;
    margin: 0;
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 0;
  }
}
.custom__shape {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background: rgba(94, 132, 81, 0.1);
  z-index: -1;
  height: 100%;
  width: 100%;
}
// about
.about {
  position: relative;
  height: 100%;
  padding: 5%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  place-items: center;
  // .wrap{
  //   display: flex;
  //   place-items: center;
  //   flex-wrap: wrap;
  //   gap: 2em;
  //   padding: 4em 5em;
  // background: $clean;

  // }
  .about__img {
    height: auto;
    width: 90%;
    border-radius: 7px;
  }
  .about__section {
    // background: #f7f6f1;
    width: 90%;
    padding: 2rem;
    .about__head {
      @include head();
    }
    .about__para {
      line-height: 1.4;
      font-size: 1rem;
      font-weight: 400;
      text-align: justify;
      margin: 2rem 0;
    }
    blockquote {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 2rem;
      background: #ebebeb;
      padding: 1rem;
      border-left: 3px solid #333;
      border-radius: 5px;
      transition: 0.5s ease-in-out;
      span {
        font-size: 0.7rem;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0px 0px 10px 0px #c0c0c0;
      }
    }
  }
  .about__link {
    margin-top: 30px;
    padding: 10px 20px;
    background: $color;
    color: $clean;
    transition: 0.2s;
    font-weight: 600;
    &:hover {
      background: $clean;
      color: $color;
      box-shadow: 0px 0px 10px 2px $scolor;
    }
  }
}
// features
.features__main {
  padding: 3rem 0;
  .features__head {
    @include head();
  }
  .feature__desc {
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    margin: 3rem 0;
  }
  .features {
    background: #040404b0 url("../images/image6.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    // filter: blur(1px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding: 4rem 1rem;
    place-items: center;
    color: #232531;
    .feature__box {
      flex: 1 1 280px;
      height: 150px;
      padding: 20px 10px;
      // border: 1px solid #c0c0c0;
      display: grid;
      text-align: center;
      border-radius: 6px;
      transition: 0.1s ease-in-out;
      background: #dcdcdb;
      cursor: pointer;

      &:hover {
        color: #f7f6f1;
        background: $color;
        transform: scale(1.02) translateY(-7px);
      }
      .fas {
        font-size: 3rem;
      }
      h4 {
        padding-top: 15px;
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .feature__para {
        padding: 10px 10px 0 10px;
      }
    }
  }
}
// Services
.custom__hr {
  height: 7px;
  width: 195px;
  background: $color;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}
.services {
  padding: 1rem;
  .service__header {
    @include head();
  }
  .service__section__wrap {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    place-items: center;
    gap: 2px;
    .service {
      flex: 1 1 280px;
      min-height: 250px;
      border-radius: 10px;
      margin: 4px;
      position: relative;
      overflow: hidden;
      transition: 1s ease-in-out;
      .overlay1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.568);
        z-index: 1;
      }
      .service__img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        transform: scale(1.15);
        transition: 1s ease-in-out;
      }
      .service__head {
        font-size: 1.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $clean;
        font-weight: 600;
        text-align: center;
        width: 75%;
        filter: drop-shadow(2px 2px 2px #131219);
        transition: all 0.6s ease-in-out;
        z-index: 1;
      }
      &:hover .service__head {
        opacity: 0;
      }
      &:hover .service__img {
        transform: scale(1.2);
      }
      .service__wrap {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4%;
        background: #1c3e7091;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform-origin: center;
        transition: opacity 1s ease-in-out;
        display: grid;
        place-items: center;
        z-index: 1;
      }
      // &:hover{
      //   flex:6;
      // } 
      &:hover .service__wrap {
        opacity: 1;
        margin-bottom: 3rem;
        cursor: pointer;

      }
      .service__description{
        width: 90%;
        color: white;
        font-size: 16px;
        margin-left: 1rem;
        ol li{
          list-style: square !important;
        }
      }

      .service__button {
        padding: 8px 20px;
        margin-top: 3rem;
        background: $color;
        color: $clean;
        transition: 0.2s;
        font-weight: 600;
        border: 1px solid $clean;
        z-index: 2;
        &:hover {
          background: $clean;
          color: $color;
          // border: 2px solid $color;
        }
      }
    }
  }
}
//fabrication
.additional{
  margin-top: 2rem;
   .additional__header{
    @include head();
   }
   .additional_desc{
     margin: 1rem 2rem;
     padding: 1rem;
     box-shadow: 1px 1px 8px 2px #e8e8e8;
    display: flex;
    .certificate{
      width: 50%;
      margin: 0 auto;
    }
     p{
       color: $sec;
     }
     blockquote{
       border-left: 4px solid $color;
       padding-left: 1rem;
     }
   }
}

//developed by Raj



//Portfolio
.portfolio {
  padding: 1rem;
  .portfolio__header {
    @include head();
  }
  .project {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    gap: 5px;
    .project__inner {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      transition: 0.2s ease-in-out;
      position: relative;

      &:hover::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #04040448;
      }
      &:hover .project__img {
        transform: scale(1.1);
      }
      &:hover {
        box-shadow: 0px 0px 4px 4px #e6e3e3;
      }
      &:hover .project__wrap {
        transform: scaleX(1);
        opacity: 1;
      }
      .project__img {
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in;
        object-fit: cover;
      }
      .project__wrap {
        position: absolute;
        bottom: 5px;
        padding: 10px;
        background: #f1f0f0da;
        text-align: center;
        transform: scaleX(0);
        transform-origin: left;
        opacity: 0;
        z-index: 2;
        transition: transform 0.2s ease-in, opacity 0.4s ease;
        .project__title {
          font-weight: 400;
        }
      }
    }
    .project__one {
      grid-column: span 2;
      grid-row: span 2;
    }
    .project__two {
      grid-column: span 2;
      grid-row: span 2;
    }
    .project__three {
      grid-row: span 2;
    }
    .project__four {
      grid-column: span 2;
      grid-row: span 2;
    }
    .project__six {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

//Testimonial

.testimonial {
  padding: 2rem 1rem;
  position: relative;
  .testimonial__header {
    @include head();
  }
  .tesimonial__slide {
    display: flex;
    // gap: 3rem;
    // margin: 2rem 0;
    // overflow-x: scroll;
    .testimonial__card {
      min-width: 290px;
      height: auto;
      border-radius: 4px;
      background: $clean;
      position: relative;
      margin: 1rem 0.5rem;
      transition: 0.3s ease;
      &:hover {
        box-shadow: 0px 0px 18px 6px #eae7e7;
      }
      &::after {
        position: absolute;
        content: " ’’ ";
        top: 0;
        right: 20px;
        font-size: 150px;
        color: #d2c7c78c;
      }
      .client__wrap {
        padding: 1rem 0 0 1rem;
        display: flex;
        .client__img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          filter: drop-shadow(2px 2px 2px #c0c0c0);
        }
        .client__name {
          margin: 10px 15px;
          span {
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
      .client__say {
        font-size: 14px;
        padding: 0.3rem 1.5rem 1rem;
      }
    }
  }
}
.contact {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #0000009c url("../images/4.jpg");
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  .contact__header {
    @include head();
    color: $clean;
    margin-top: 2rem;
  }
  .contact__div {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background-color: $clean;
    .contact_info {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .contact_para {
        margin: 1rem 0;
        line-height: 1.6;
        font-size: 1.2rem;
      }
      .contact_list {
        li {
          color: #333;
          font-weight: 600;
          font-size: 1.2rem;
          transition: 0.2s ease;
          &:hover {
            color: #000;
          }
          .mail {
            color: #333;
            transition: 0.2s ease;
            &:hover {
              color: #000;
              margin-left: 1rem;
            }
          }
          .fas {
            margin: 0.5rem 0;
            color: $color;
            font-size: 1.6rem;
            text-align: center;
            margin-right: 1.5rem;
          }
        }
      }
    }
    .contact_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      margin: 1rem;
      label {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: #333;
      }
      input {
        flex: 1 0 auto;
        height: 50px;
        font-size: 1em;
        // border-radius: 10px;
        border: none;
        padding: 1rem;
        background: #eaf3fb;
      }
      textarea {
        flex: 1 0 auto;
        font-size: 1em;
        // border-radius: 10px;
        border: none;
        padding: 1rem;
        resize: none;
        background: #eaf3fb;
      }
      input[type="submit"] {
        width: 60%;
        cursor: pointer;
        background-color: $clean;
        color: $sec;
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 2px;
        font-weight: 500;
        transition: 0.2s ease;
        border: 1px solid $color;
        border-left: 9px solid $color;
        &:hover {
          background: $color;
          color: $clean;
        }
      }
    }
  }
}
.fab{
  color: #1c3e70;
  margin: 5px;
  margin-left: 0;
  font-size: 2rem;
  transition: 0.5s ease;
  cursor: pointer;
}
.fab:hover{
  color: #000;
}
//Footer
footer {
  background-color: $sec;
  color: $clean;
  .footer__inline {
    background: $color;
    height: auto;

    display: flex;
    justify-content: space-around;
    .logo__div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .logo{
        width: 25%;
      }
      width: 35%;
      margin: 0 2rem;
      align-self: center;
      text-align: center;

      h2 {
        font-weight: 600;
        color: $clean;
        margin: 0.3rem 2rem;
        border-radius: 6px;
      }
    }
    .footer__items {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .footer__links {
        a {
          font-size: 12px;
          color: $scolor;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
  .copyright {
    height: 4vh;
    display: grid;
    place-items: center;
    .copy__para {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color;
  color: white;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.5s ease;
  border: 1px solid $clean;
}

#myBtn:hover {
  background-color: $clean;
  color: $color;
}

/* Blank */
.custom {
  .custom_container {
    margin: 0;
    z-index: 0;
    display: grid;
    place-items: center;
    .custom_box {
      width: 50vw;
      background-color: $clean;
  box-shadow: 0px 0px 10px 0px #9b9b9b;
      margin:1rem 0 1rem;
      border-radius: 10px;
      .custom_head {
        border-bottom: 1px solid #e7e7e7;
        padding: 2rem 0 0 2rem;
        color: $sec;
        a {
        }
        h2 {
          text-align: center;
          // font-family: ;
  font-family: "brandon-grotesque-bold";
  // margin: 0 0 1rem;

        }
      }
      .post_image{
        img{
          width: 100%;
          padding: 1rem;
          height: 50vh;
          object-fit: cover;
          border-radius: 25px;
        }
      }
          .post_para{
            padding: 1rem 5%;

            p {
             text-align: justify;
             line-height: 1.6;
             font-size: 1rem;
             margin: 2rem 0;
           color: $sec;
           font-family: "brandon-grotesque";
           }
          }
    }
  }
}
@media screen and (max-width: 768px) {
  #myBtn {
    font-size: 12px;
  }
  nav {
    z-index: 99;
    border-bottom: 1px solid $sec;
    .nav__items {
      position: absolute;
      top: 12vh;
      left: 0;
      width: 100%;
      z-index: 99;
      flex-direction: column;
      place-items: center;
      height: 50vh;
      justify-content: space-evenly;
      background: #f9f9f9;
      color: $scolor;
      transform: scaleY(0);
      opacity: 0;
      transform-origin: top;
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      li {
        a {
          color: #333;
          font-weight: 500;
        }
      }
    }
    .burgur {
      display: block;
      padding: 10px 20px;
      background: $color;
      color: $scolor;
      cursor: pointer;
    }
    .active {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  .hero {
    .fade {
      .slide__content {
        margin: 12rem 10%;
        .slide__header {
          font-size: 10vw;
        }
        .slide__para {
          font-size: 1.5rem;
          margin: 0 0 2rem;
        }
      }
    }
    .hero__content {
      height: 100vh;

      .btn__section {
        z-index: 1;
        height: 2em;
        .head__link {
          padding: 10px 20px;
          background: $scolor;
          color: $color;
          transition: 0.2s;
          &:hover {
            background: $color;
            color: $scolor;
          }
        }
        .link__invert {
          padding: 10px 20px;
          background: $color;
          color: $scolor;
          transition: 0.2s;

          &:hover {
            background: $scolor;
            color: $color;
          }
        }
      }
    }
    .overlay {
      position: absolute;
      top: 15vh;
      right: 2vh;
      left: 2vh;
      height: 83vh;
      margin: 0;
      background: rgba($color: #000000, $alpha: 0.6);
      z-index: 0;
    }
  }
  .about {
    height: 100%;
    padding: 3rem 0;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .about__section {
      padding: 0;
      .about__head {
        font-size: 3rem;
      }
      .about__para {
        font-size: 1rem;
      }
    }
    .about-img {
      width: 80%;
    }
  }
  .features__main {
    .features {
      .feature__box {
      }
    }
  }
  .portfolio {
    .project {
      margin: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
  .testimonial {
    .tesimonial__slide {
      gap: 0rem;
    }
  }
  .contact {
    .contact__div {
      flex-direction: column;
      width: 90%;
      padding: 0;
      margin: 1rem 0;
      .contact_form {
        input[type="submit"] {
          padding: 4px 20px;
          width: 100%;
        }
      }
    }
  }
  .custom{
    .custom_container{
      .custom_box{
        width: 90vw;
      }
    }
  }
  footer {
    .footer__inline {
      height: auto;
      flex-direction: column;
      .logo__div {
        width: unset;
      flex-direction: column;
        h2 {
          margin: 0.5rem auto;
        }
      }
      .footer__items {
        width: unset;
      }
    }
  }
  .service{
    .service__description ol li{
      font-size: 14px;
    }
  }
  .additional{
   
     .additional_desc{
      .certificate{
        width: 90%;
      }
      flex-direction: column;
      gap: 2rem;
       blockquote{
         border-left: 4px solid $color;
         padding-left: 1rem;
       }
     }
  }
  
}

